<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright since 2020 CubaDevOps
  ~
  ~ @Author : Carlos Batista <carlos.batista@cubadevops.com>
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~ Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License.
  -->

<module>
    <name>graphapi</name>
    <displayName><![CDATA[Graphapi Module]]></displayName>
    <version><![CDATA[1.2.1]]></version>
    <description><![CDATA[A base module for Prestashop development]]></description>
    <author><![CDATA[Cuba Devops]]></author>
    <tab><![CDATA[administration]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall this module?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>